html,
body {
	height: 100%;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #263238;
	/*overflow-x: hidden;*/
	overflow: hidden;
}
/*col-medteal 009688*/
/*col-darkteal 00796B*/
/*col-lightteal 1DE96B*/
/*col-medgray 607D8B*/
/*col-darkgray 455A64*/
/*col-darkestgray 263238*/

/*col-skyblue 1DE9B6*/
.drag-target {
	display: none;
}
::-webkit-scrollbar {
	width: 18px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.7);
	background: #243135;
}
::-webkit-scrollbar-thumb {
	background-color: #1DE96B;
	/*border-radius: 9px;*/
	/*outline: 1px solid #009688;*/
}
::selection {
	color: #00796B;
	background: #1de986;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header {
	position: relative;
	margin: 0;
	padding: 0;
	height: 64px;
	background: #455A64;
	z-index: 10;
}
main {
	position: relative;
	height: calc(100% - (64px + 20px)); 
	/*z-index: 9;*/
}
footer {
	height: 20px;
	background: #455A64;
	z-index: 50;
	box-shadow: 2px -3px 5px 0 rgba(0,0,0,.16), 
    			2px -3px 10px 0 rgba(0,0,0,.12) !important;
}
nav {
	background: transparent;
}
.nav {
	padding: 0;
	width: 100%;
	height: 100%;
}
.btn,
.btn-flat {
	-webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
}
.btn-burger {
	position: relative;
	float: left;
	background: transparent;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 2px 0 0 0;
	text-align: center;
	margin: 12px;
}
.btn-burger:hover {
	background: #1DE96B;
	color: #455A64;
}
.btn-burger i {
	font-size: 25px;
}
.title {
	position: relative;
	float: left;
	width: 200px;
	/*height: 70%;*/
	height: 100%;
}
.title a {
	position: absolute;
	top:0;bottom:0;margin:auto;
	height: 34px;
	font-size: 1.5em;
	color: white;
}
.actions {
	/*position: absolute;*/
	margin: 0;
	/*left: 240px;*/
	/*top: 50%;*/
	/*height: 32px;*/
	/*line-height: 32px;*/
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
}
.actions li {
	line-height: 30px;
	vertical-align: middle;
	float: left;
	font-size: 0.9em;
	height: 100%;
	padding: 0 10px;
	color: rgba(255,255,255,.6);
	border-radius: 0;
	text-transform: none;
}
.actions li:hover {
	color: white;
	/*background: rgba(255,255,255,.05);*/
}
footer .info {
	color: rgba(255,255,255,.6);
	padding: 0 10px;
	margin: 0;
	font-size: 0.9em;
	position: relative;
}
footer .info .position-info,
footer .info .editor-info {
	height: 20px;
	position: relative;
	float: left;
}
footer .info .editor-info span:not(#value) {
	padding: 0 20px;
}
.nav-left {
	position: absolute;
	top: 30px;
	width: 240px;
	height: calc(100% - 30px);
	margin: 0;
	padding: 0;
	z-index: 9;
	-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    background: #263238;
}
.nav-left li {
	padding: 0;
	width: 100%;
	text-align: left;
	height: 24px;
	color: rgba(255,255,255,.6);
	border-radius: 0;
}
.nav-left li:hover:not(.file-active),
.nav-left li.selected {
	/*background: #1DE96B;
	color: #455A64;*/
	/*background: rgba(255,255,255,.1);*/
	background: transparent;
	/*color: white;*/
	color: #1DE96B;
}
.nav-left li a {
	padding: 0 12px;
	/*position: absolute;
	top:0;bottom:0;margin:auto;*/
	height: 24px;
	width: 100%;
	font-size: 9.5pt;
	color: inherit;
	text-transform: none;
	line-height: 24px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.nav-left li a i {
	height: 24px;
	vertical-align: middle;
	/*margin-top: -5px;*/
	margin-top: -3px;
	margin-right: 6px;
}
/*do these with js*/
.nav-filemanager .filemanager-sub[level="1"] {
	text-indent: 8px;
}
.nav-filemanager .filemanager-sub[level="2"] {
	text-indent: 16px;
}
.nav-filemanager .file-active {
	background: rgba(255,255,255,.1);
	color: white;
}
.nav-right {
	background: #455A64;
	/*z-index: 50;*/
}
.nav-right li {
	padding: 2px 0 0 0;
}
.nav-right a {
	padding: 0;
}
.btn-account-menu {
	background: transparent;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 12px 12px 0 12px;
}
.btn-account-menu-img {
	padding: 0 !important;
	background: transparent !important;
}
.nav-right li:hover {
	background: #1DE96B;
	color: #455A64;
}
.content-main {
	position: absolute;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 240px;
	width: calc(100% - 240px);
	z-index: 8
	-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.editor-ribbon {
	position: absolute;
	height: 30px;
	top: 64px;
	width: 100%;
	z-index: 10;
	white-space: nowrap;
	overflow: hidden;
	/*display: none;*/
}
.nav-actions {
	padding: 10px 0 0 0;
	display: none;
}
.nav-actions li {
	height: 30px;
}
.editor-tabs {
	position: absolute;
	height: 30px;
	top: 30px;
	width: 100%;
	z-index: 8;
	white-space: nowrap;
	overflow: hidden;
	/*border-bottom: 1px solid #1DE96B;*/
	/*z-index: 10;*/
	/*box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.16), 2px 5px 10px 0 rgba(0,0,0,0.12);*/
}
.editor-tabs .tab {
	cursor: default;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	max-width: 180px;
	min-width: 40px;
	width: 23%;
	position: relative;
	float: left;
	background: #253036;
	padding: 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: rgba(255,255,255,.6);
	font-size: 0.8em;
	border-right: 1px solid #1D2529;
	/*border-bottom: 1px solid #1DE96B;*/
	-webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
}
.editor-tabs .tab:hover:not(.tab-active):not(.tab-action) {
	background: #324047;
}
.editor-tabs .tab-action {
	width: 30px;
	border: none;
}
.editor-tabs .tab-action .active {
	color: #1DE96B !important;
}
.editor-tabs .tab-action .btn-close {
	margin-left: 0;
}
.editor-tabs .tab-active {
	background: #1D2529;
	/*border: 1px solid #1DE96B;
	border-bottom: 1px solid #1D2529;*/
	/*border-bottom: 1px solid #1DE96B;*/
}
.editor-tabs .tab .btn-close {
	padding: 0;
	margin: 5px -5px 5px 0;
	height: 20px;
	width: 20px;
	/*background: transparent;*/
	border-radius: 50%;
	color: rgba(255,255,255,.6);
}
.editor-tabs .tab .btn-close:hover {
	background: #1DE96B;
	color: #263238 !important;
}
.editor-tabs .editor-tab-status {
	margin: -9px 0 0 0;
	padding: 0;
	font-size: 13px;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
}
.editor-tabs .editor-tab-status:not([saved="false"]):hover {
	/*color: #263238 !important;*/
}
.editors {
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
	top: 60px;
	-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.quickmenu {
	height: 100%;
	width: auto;
	position: relative;
	margin: 0;
}
.quickmenu li {
	/*line-height: 64px;
	vertical-align: middle;
	height: 100%;
	padding: 0 20px;
	color: white;*/
	position: relative;
	float: left;
}
.btn-header-menu {
	background: transparent;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 2px 0 0 0;
	text-align: center;
	margin: 12px 12px 12px 0;
}
.btn-header-menu-img {
	padding: 0;
}
.btn-header-menu:hover {
	background: #1DE96B;
	color: #455A64;
}
.btn-header-menu-img:hover {
	background: transparent;
}
.btn-header-menu i {
	font-size: 25px;
}
.btn img {
	height: 100%;
	width: 100%;
}
.input-field i {
	height: 64px;
	line-height: 64px;
	display: block;
	font-size: 2rem;
}
.input-field #search {
	margin: 0;
}
.input-field #search:focus {
	background: #1DE96B;
	color: #455A64;
}
.editor,
.CodeMirror {
	height: 100%;
	width: 100%;
	font-family: 'Hack', monospace, sans-serif;
	font-size: 10pt;
	border: none;
	z-index: 8;
}
.CodeMirror-scrollbar-filler {
	background: #263238;
}
.live-preview {
	left: 100%;
	top: 60px;
	width: 50%;
	height: calc(100% - 60px);
	max-height: calc(100% - 60px);
	border-left: 1px solid #1DE96B;
	position: absolute;
	/*padding: 0 30px 30px 30px;*/
	/*padding: 20px;*/
	white-space: nowrap;
	background: #1D2529;
	-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.live-preview-scroller {
	overflow-y: auto;
	min-height: 100%;
	height: 100%;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 30px;
	padding-bottom: 0;
}
.live-preview-paper {
	background: white;
	/*padding: 56px;*/
	padding: 10px;
	/*height: 200%;*/
	min-height: 100%;
	font-family: serif;
}
.live-preview-warning {
	font-family: "Hack", monospace;
	padding: 5px;
	font-size: 10pt;
	position: absolute;
	left: 0;
	bottom: -200px;
	width: 100%;
	max-height: 200px;
	height: 100px;
	background: #1D2529;
	color: #1DE96B;
	opacity: 0.8;
	-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
    box-shadow: 2px -3px 5px 0 rgba(0,0,0,0.16), 
    			2px -3px 10px 0 rgba(0,0,0,0.12);
}
.net-state {
	/*margin-right: 146px;*/
	margin-left: 6px;
}
.net-state #icon {
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	color: #1DE96B;
	margin-right: 6px;
}
.net-state #icon.offline {
	color: #ef5350;
}
.net-state #icon .material-icons {
	font-size: 12px;
}