.cm-s-kibbyte.CodeMirror {
    background: #1D2529;
    color: #CFD8DC;
}
.cm-s-kibbyte .CodeMirror-selected {
    background: #323232 !important;
}
.cm-s-kibbyte.CodeMirror::selection {
    background: #425762;
}
.cm-s-kibbyte.CodeMirror::-moz-selection {
    background: #425762;
}
.cm-s-kibbyte .CodeMirror-gutters {
    background: #263238;
    border-right: 1px solid #1DE96B;
}
.cm-s-kibbyte .CodeMirror-guttermarker {
    color: rgba(255,255,255,.6);
}
.cm-s-kibbyte .CodeMirror-guttermarker-subtle {
    color: rgba(255,255,255,.4);
}
.cm-s-kibbyte .CodeMirror-linenumber {
    color: rgba(255,255,255,.4);
}
.cm-s-kibbyte .CodeMirror-cursor {
    border-left: 1px solid white !important;
}
.cm-s-kibbyte .cm-keyword {
    color: #1DE96B;
}
.cm-s-kibbyte .cm-atom {
    color: #00BCD4;
}
.cm-s-kibbyte .cm-number {
    color: #4DD0E1;
}
.cm-s-kibbyte .cm-def {
    color: #8DA6CE;
}
.cm-s-kibbyte span.cm-variable-2,
.cm-s-kibbyte span.cm-tag {
    color: #90A4AE;
}
.cm-s-kibbyte span.cm-variable-3,
.cm-s-kibbyte span.cm-def {
    color: #90A4AE;
}
.cm-s-kibbyte .cm-operator {
    color: #009688;
}
.cm-s-kibbyte .cm-comment {
    color: #455A64;
    font-style: italic;
    font-weight: normal;
}
.cm-s-kibbyte .cm-string {
    color: #689F38;
    font-style: italic;
}
.cm-s-kibbyte .cm-string-2 {
    color: #66BB6A;
}
.cm-s-kibbyte .cm-meta {
    background-color: #141414;
    color: #f7f7f7;
}
.cm-s-kibbyte .cm-builtin {
    color: #00ACC1;
}
.cm-s-kibbyte .cm-tag {
    color: #997643;
}
.cm-s-kibbyte .cm-attribute {
    color: #4DB6AC;
}
.cm-s-kibbyte .cm-header {
    color: #FF6400;
}
.cm-s-kibbyte .cm-hr {
    color: #AEAEAE;
}
.cm-s-kibbyte .cm-link {
    color: #4DB6AC;
    font-style: italic;
    text-decoration: none;
}
.cm-s-kibbyte .cm-searching {
	background: #4DB6AC;
}
.cm-s-kibbyte .cm-error {
    border-bottom: 1px solid red;
}
.cm-s-kibbyte .CodeMirror-activeline-background {
    background: #27282E !important;
}
.cm-s-kibbyte .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
}